footer {
    text-align: center;
    width: 100%;
    border-top: 1px solid white;
    padding: 8px;
    font-size: small;
    order: 5;
    color: white;
}

.copyright {
    float: left;
}

.social {
    float: right;
    text-decoration: none;
}

.links {
    text-decoration: none;
    color: inherit;
    padding-right: 10px;
}
