.RKT {
    color: rgb(204, 204, 220);
}

.KTW {
    color: rgb(0, 176, 240);
}

.RTW {
    color: red;
}

.AMB {
    color: rgb(255, 192, 0);
}

.Nacht {
    color: rgb(32, 55, 100);
}

.Tag {
    color: rgb(180, 198, 231);
}
