.dienst_table {
    width: 35%;
    min-width: 718px;
    border-collapse: collapse;
    border-spacing: 0px 5px;
    margin-left: auto;
    margin-right: auto;
}

.zug {
    min-width: 83px;
}



@media (max-width: 755px) {
    .dienst_table {
        min-width: 0px;
        width: 100%;
    }

    /* Hide Car if under 640px */
    .car_header {
        display: none;
    }
    .car {
        display: none;
    }

    /* Hide KD, RD, NA if under 590px */
    .kd_header {
        display: none;
    }
    .kd {
        display: none;
    }
    .rd_header {
        display: none;
    }
    .rd {
        display: none;
    }
    .na_header {
        display: none;
    }
    .na {
        display: none;
    }

    /* Hide TF if under 590px */
    .tf_header {
        display: none;
    }
    .tf {
        display: none;
    }
}
