.dienst {
    background-color: #181b1f;
    border: 1px solid #ccccdc12;
    border-radius: 3px;
    box-shadow: none;
}

.dienst > td {
    vertical-align: middle;
    text-align: center;
}

.active_dienst {
    background-color: #4f5153;
    border: 1px solid #ccccdc12;
    border-radius: 3px;
    box-shadow: none;
}
