.dienst {
    background-color: #181b1f;
    border: 1px solid #ccccdc12;
    border-radius: 3px;
    box-shadow: none;
}

.dienst > td {
    vertical-align: middle;
    text-align: center;
}

.active_dienst {
    background-color: #4f5153;
    border: 1px solid #ccccdc12;
    border-radius: 3px;
    box-shadow: none;
}

.deleteDataButton {
    width: 100%;
    height: 100%;
    padding: 0.5px;

    background-color: rgba(0, 0, 0, 0.1);
    color: white;
}
